.text-justify {
    text-align: justify;
  }
  
  @media (min-width:300px) and (max-width:600px) {
    .abtimg{
      height: 250px;
      width: 100%;
    }
    
  }

  .tyre-list{
  max-width:500px;
  margin:0 auto;
  text-align:left;
  padding-left:20px;
}

.tyre-list li{
  margin-bottom:8px;
}